<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="/css/styles.css">
  <link href="/assets/fontawesome/css/all.css rel="stylesheet">

  {% feed_meta %}
  {% seo %}

</head>

<body>

<div class="body-wrapper">

    <header>
      <div class="logo"></div>
    </header>

     <div class="link-wrap">

        <div class="media link">
          <a href="mailto:andy@kumeda.com">
            <div class="imgbox"><i class="fas fa-id-card"></i></div>
            <div class="textbox"><p class="title">Contact</p></div>
          </a>
        </div>

        <div class="media link">
          <a href="https://www.instagram.com/andykumeda/">
            <div class="imgbox"><i class="fab fa-instagram"></i></div>
            <div class="textbox"><p class="title">Instagram</p></div>
          </a>
        </div>

        <div class="media link">
          <a href="https://delta9.tech">
            <div class="imgbox"><i class="fas fa-at"></i></div>
            <div class="textbox"><p class="title">Technology</p></div>
          </a>
        </div>

        <div class="media link">
          <a href="https://linkedin.com/in/andykumeda">
            <div class="imgbox"><i class="fab fa-linkedin"></i></div>
            <div class="textbox"><p class="title">LinkedIn</p></div>
          </a>
        </div>

        <div class="media link">
          <a href="https://ak.photos">
            <div class="imgbox"><i class="fas fa-camera-retro"></i></div>
            <div class="textbox"><p class="title">Photography</p></div>
          </a>
        </div>

        <div class="media link">
          <a href="/">
            <div class="imgbox"><i class="fas fa-coffee"></i></div>
            <div class="textbox"><p class="title">Coffee</p></div>
          </a>
        </div>

        <div class="media link">
          <a href="https://ultrasignup.com/results_participant.aspx?fname=Andy&lname=Kumeda">
            <div class="imgbox"><i class="fas fa-running"></i></div>
            <div class="textbox"><p class="title">Running</p></div>
          </a>
        </div>

        <div class="media link">
          <a href="/">
            <div class="imgbox"><i class="fas fa-file-pdf"></i></div>
            <div class="textbox"><p class="title">CV</p></div>
          </a>
        </div>

        <div class="media link">
          <a href="enneagram">
            <div class="imgbox"><i class="fas icon-enneagram"></i></div>
            <div class="textbox"><p class="title">Enneagram</p></div>
          </a>
        </div>

        <div class="media link">
          <a href="/">
            <div class="imgbox"><i class="fab fa-bitcoin"></i></div>
            <div class="textbox"><p class="title">Cryptocurrency</p></div>
          </a>
        </div>

        <div class="media link">
          <a href="/">
            <div class="imgbox"><i class="fas fa-car"></i></div>
            <div class="textbox"><p class="title">Cars</p></div>
          </a>
        </div>

        <div class="media link">
          <a href="/">
            <div class="imgbox"><i class="fas fa-music"></i></div>
            <div class="textbox"><p class="title">Music</p></div>
          </a>
        </div>

     </div>

    <footer>Copyright © 2020 Andy Kumeda</footer>

  </div>

  <script src="/js/modernizr-3.11.3.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>

  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-131826652-6', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>

</body>

</html>
